{# templates/provider/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <section id="header" class="py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-8 text-center">
                <h1 style="font-size: 1.75rem; font-weight: bold;">
                    Crea un nuevo proveedor
                </h1>
                <p class="color-gris-medio">
                    🖌️ Rellena los datos del nuevo proveedor y no olvides hacer click en Guardar 🖌️
                </p>
            </div>
        </div>
    </section>

    <form id="form-crear-proveedor" action="{{ url('proveedor.store') }}" method="post">
        <h2 class="h5 text-center">DATOS PERSONALES</h2>
        <div class="form-group row">
            <div class="col-lg col-12 m-1">
                <input type="text" id="nombre" name="nombre" class="form-control" required placeholder="🙋🏻‍♂️ Nombre">
            </div>
            <div class="col-lg col-12 m-1">
                <input type="email" id="email" name="email" class="form-control" required placeholder="✉️ Correo electrónico">
            </div>
            <div class="col-lg col-12 m-1">
                <input type="number" id="telefono" name="telefono" class="form-control" required placeholder="📞 Teléfono"
                    min="100000000" max="999999999">
            </div>
        </div>
        <hr>
        <h2 class="h5 text-center">CONFIGURACIÓN</h2>
        <div class="form-group row d-flex justify-content-center">
            <div class="col-lg-6 col-12 m-1">
                <select id="tipo_proveedor" name="tipo_proveedor" class="form-select" required>
                    <option value="">Tipo de proveedor</option>
                    <option value="hotel">hotel</option>
                    <option value="pista">pista</option>
                    <option value="complemento">complemento</option>
                </select>
            </div>
                                    
            <div class="form-row p-4 row d-flex justify-content-center">
                <div class="col-8 form-check form-switch d-flex justify-content-center align-items-center">
                    <div class="px-4">⛔️ Mantener inactivo</div>
                    <label class="switchlabel">
                        <div class="switchtoggle">
                            <input class="form-check-input switchtoggle-state" type="checkbox" role="switch" id="status" name="status" value="activo">
                            <div class="switchindicator"></div>
                        </div>
                    </label>
                    <div class="px-4">✅ Activar</div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
        </div>
    </form>
{% endblock %}
